.photo {
	/*float: left;*/
	width: 100px;
	height: 100px;
	margin: 5px;
	display: inline;
}

.bitch {
	width: 130px;
	border: 1px solid white;
	border-radius: 5px;
	display: inline;
}

img{
	width: 100px;
	height: 100px;
	margin: 5px;
}


header img {
/*	margin-top: 20px;
	color: white;
	font-size: 1.4em;
	margin-left: 20px;*/

	width: 300px;
	height: 100px;
}

header h1{
	color: white;
	margin-top: 20px;
	margin-left: 20px;
}

input {
	margin-left: 20px;
	margin-bottom: 20px;
}

body {
	background: url('images/bg-body.jpg');
}

#container {
	width: 650px;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	border: 2px solid white;
	border-radius: 5px;
}

#containertwo {
	width: 700px;
	float: right;
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 40px;
	margin-right: 20px;
}

#wall {
	width: 700px;
	float: right;
	display: block;

}

